.banner{
  background: #b582b3;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}


.media-links {
  display: flex;
  gap:790px;
}

.media-links ul {
  padding-left: 0;
}

h1 {
  color: #33485e;
  font-size: 36px;
  font-family: "Georgia", serif;
}

body {
  background-color: #FFF0F5;
  max-width: 1800px;
  min-width: inherit;
	margin: auto;
  text-align: center;
  border: 20px
}

ul#menu li {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  background-color: #FFF0F5;

}

ul#media li{
  display: inline-flex;
  padding: 8px;
  background-color: #FFF0F5;
}

p {
  margin: auto;
  width: 600;
}

.menu-links{
  float: left;
  flex-direction: row;
}

img:not(.about-img){
  border-radius: 50%;
  vertical-align: middle;
  width: 100px;
  height: 95px;
}

.pic{
  border-radius: 50%;
  vertical-align: middle;
  width: 100px;
  height: 95px;
}

.about-img{
  border-radius: 50%;
  vertical-align: middle;
}
